body {
    width: 100%;
    overflow-x: hidden;
}

.firstblok {
    width: 100%;
    height: 2vw;
    background-color: #fff;
    position: relative;
    z-index: 4;
} 

.heart1 {
    margin-top: 0.3vw;
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 0.5vw;
    position: absolute;
    z-index: 4;
}
.list1 {
    width: 100%;
    height: 204.3vw;
    background: #2348A3;
    position: relative;
    overflow: hidden;
}
.saffinadpis{
    width: 85%;
    margin-left: 6.5vw;
    position: absolute;
    margin-top: -1.5vw;
    z-index: 2;
}
.bigvolna{
    width: 100%;
    position: absolute;
    z-index: 3;
}
.smallvolna{
    width: 100%;
    position: absolute;
    margin-top: 49vw;
    z-index: 3;
}
.bigflower1{
    width: 80%;
    position: absolute;
    z-index: 1;
    margin-left: 60vw;
    margin-top: -12vw;
    animation: rotate1 5s linear infinite;
}
@keyframes rotate1{
    0%{rotate: 0deg}
    100%{rotate: 360deg;}
}
.bigflower2{
    width: 58.4%;
    position: absolute;
    z-index: 2;
    margin-left: -29vw;
    margin-top: -4vw;
    animation: rotate2 4s linear infinite;
}
@keyframes rotate2{
    0%{rotate: 0deg}
    100%{rotate: 360deg;}
}
.bigflower3{
    width: 85%;
    position: absolute;
    z-index: 2;
    margin-top: 50vw;
    margin-left: -28vw;
    animation: rotate3 8s linear infinite;
}
@keyframes rotate3{
    0%{rotate: 0deg}
    100%{rotate: 360deg;}
}
.bigflower4{
    width: 85%;
    position: absolute;
    z-index: 2;
    margin-top: 79vw;
    margin-left: 48vw;
    animation: rotate4 6s linear infinite;
}
@keyframes rotate4{
    0%{rotate: 0deg}
    100%{rotate: 360deg;}
}
.bigflower5{
    width: 110%;
    position: absolute;
    z-index: 2;
    margin-top: 128.5vw;
    margin-left: -22vw;
    rotate: 13deg;
    animation: rotate5 10s linear infinite;
}
@keyframes rotate5{
    0%{rotate: 0deg}
    100%{rotate: 360deg;}
}
.strelka1{
    width: 4%;
    position: absolute;
    margin-top: 36vw;
    margin-left: 47vw;
}
.buttonfirst{
    width: 16vw;
    height: 4vw;
    font-family: 'SF Mono Regular';
    font-size: 2.8vw;
    color: #FFDEFF;
    letter-spacing: 0.24vw;
    position: absolute;
    margin-top: 45vw;
    margin-left: 41vw;
    border-radius: 1vw;
    background-color: #4F66B5;
    border: 0.2vw solid #FFDEFF;
    z-index: 4;
} 
.text1{
    font-family: 'SF Mono Regular';
    font-size: 1.5vw;
    color: #FFDEFF;
    letter-spacing: 0.24vw;
    position: absolute;
    margin-top: 50vw;
    margin-left: 33vw;
}
.hidden{
    display: none;
}
.list2 {
    width: 100%;
    height: 151.98vw;
    background: #2348A3;
}
.greenvx{
    width: 68%;
    position: absolute;
    z-index: 1;
    margin-top: -1vw;
    margin-left: 16vw;
}
.kust{
    width: 100%;
    margin-top: 3vw;
}
.fl1{
    width: 21.3%;
    position: absolute;
    margin-top: 79.3vw;
    margin-left: -95.5vw;
    rotate: -2deg;
}
.list3 {
    width: 100%;
    height: 30vw;
    background: #3e78ff;
}
.list4 {
    width: 100%;
    height: 30vw;
    background: #6f7a94;
}
.list5 {
    width: 100%;
    height: 30vw;
    background: #2e3f65;
}